name: CI Checks

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - "*" # Run on all branches

env:
  MIN_PYTHON_VERSION: 3.10

jobs:
  job-pre-commit-check:
    name: Pre-Commit Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.MIN_PYTHON_VERSION }}

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH
          poetry --version

      - name: Install dependencies
        run: poetry install

      - name: Run pre-commit
        run: poetry run pre-commit run --all-files

  job-run-pytest:
    name: PyTest Check
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.12, 3.11, 3.10]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set environmental variables
        run: |
          echo "SPARK_VERSION=3.5.1" >> $GITHUB_ENV
          echo "HADOOP_VERSION=3" >> $GITHUB_ENV
          echo "SPARK_HOME=/opt/spark" >> $GITHUB_ENV

      - name: Install Spark
        run: |
          wget --no-verbose -O apache-spark.tgz "https://archive.apache.org/dist/spark/spark-${SPARK_VERSION}/spark-${SPARK_VERSION}-bin-hadoop${HADOOP_VERSION}.tgz" \
          && mkdir -p /opt/spark \
          && tar -xf apache-spark.tgz -C /opt/spark --strip-components=1 \
          && rm apache-spark.tgz

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH
          poetry --version

      - name: Install dependencies
        run: poetry install

      - name: Run PyTest
        run: poetry run pytest --cov=data_rafting_kit
